.section-one { 
    height: 400px;
    background-image: url("./src/multimedia/images/backgroundsection1.jpg");
    background-size: cover;
    h2 {
        font-size: 2.5rem;
     padding: 8rem 0rem 4rem 0rem;
     &:hover {
        transform: scale(1.5);
        transition: all 2s ;
     } 
    }
    
}
.section-one p {
    padding-left: 35rem;
    padding-right: 35rem;
    font-weight: 700;
    font-style: italic;
   }
   .section-one button {
    margin-top: 5rem;
    transition: all 2s;
     
         &:hover {
            transform: scale(1.3);
         }
     
    }
    
    .img-section-3{
        width: 45rem;
    }
    .img-section-3-1 {
        margin-left: 22rem;
        width: 45rem;
    }
    button {
        
        color: whitesmoke;
        background-color: sandybrown;
        border-radius: 0.6rem;
        padding: 0.5rem;
        font-size: 2rem;
        font-family: "Lato", Sans-serif;
        border: 3px solid whitesmoke;
    }
    .h-1 {
        font-size: 2rem;
    }
    .button-two {
        padding-left: 19rem;
        padding-right: 19rem;
        transition: all 2s;
    }
    .button-two:hover {
        transform: scale(1.05);
    }
    .button-two-2 {
       
        padding-left: 19rem;
        padding-right: 19rem;
        transition: all 2s;
    }
    .button-two-2:hover {
        transform: scale(1.05);
    }
    button:hover {
        color: nth($colors, 1 ) ;
        background-color: nth($colors , 2 );
        border: 3px solid nth($colors, 1 );
    }
    /* Seccion 4 iframe */
    .iframe-section { 
        width: 80rem;
        display: flex;
        justify-content: center;
        margin: auto;
        iframe {
            border: 0.4rem solid nth($colors, 4);
        }
    }